@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&family=Roboto:wght@100&display=swap');
 :root {
    --Celeste: #5CD8F4;
    --Rosado: #E63373;
    --amarillo:#fdd12a;
	--morado: #6D326D;
	--Azul: #1B1E43;
	--Gris: #1C1C1C;
    --degradado: gradiente lineal(90grados, var(--celeste), var(--rosado ));
}

/* Estilos generales */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
	background-image: url('img/fondo_2.jpg');
}
h2{
	text-align: center;
}

.centrar{
	text-align: center;
}
  

/*Estilos para la barra de navegación*/
header {
	border-bottom-left-radius: 25%;
	border-bottom-right-radius: 25%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px;
	background-color: var(--Celeste);
	color: var(--morado);
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1000;
}
.logo-container {
	margin-right: auto;
	animation: logo .8s infinite alternate;
}
#logo {
	width: 60px;
	height: 60px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 50%;
  }
  @keyframes logo {
	0% {
	  transform: translateY(10px);
	}
	100% {
	  transform: translateY(-10px);
	}
  }
.title-container {
	text-align: center;
	animation: slide-in 1s ease-in;
	flex: 1;
}
.navbar-container {
  display: flex;
  justify-content: flex-end;
}
.navbar-container ul {
	display: flex;
	list-style: none;
}
.navbar-container li {
	margin: 0 10px;
  font-size: 20px;
}
.navbar-container a {
	position: relative;
	text-decoration: none;
	color: var(--Rosado);
}
.navbar-container a::before {
	content: "";
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	width: 0;
	height: 2px;
	background-color: var(--morado);
	transition: width 0.5s;
}
.navbar-container a:hover::before {
	width: 100%;
}
@keyframes blink {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}
@keyframes slide-in {
	0% {
		transform: translateY(-100%);
		opacity: 0;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}


/* Estilos para el contenido principal */
main {
  padding: 10px;
}

section {
  margin-bottom: 10px;
  padding: 5%;
}

section h2 {
  margin-bottom: 50px;
  font-size: 2rem;
  text-align: center;
  color: var(--morado);
}

section p {
  line-height: 1.5;
  margin-bottom: 5px;
  font-size: 1.2rem;
  color: var(--Gris);
}
.titulo-principal {
    text-align: center;
}
/*Sección 1*/
.main {
	display: flex;
  }
  
.left {
	flex: 1;
	padding: 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center; 
  }
  
  .right {
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
  }
  
  .right img {
	scale: 1.5;
	animation: jump 2s infinite alternate;
	height: 50vh;
  }
  
  @keyframes jump {
	0% {
	  transform: translateY(0);
	}
	100% {
	  transform: translateY(-50px);
	}
  }
  
/*seccion 2*/

#parrafo_2{
	margin-top: -18%;
	font-size: 1.5vw;
}
/* Superaman volando*/
.supcontainer {
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
  }
  
  .superman-img {
	position: relative;
	top: 1%;
 	height: auto; /* para mantener la proporción de la imagen */
	transform: translateY(1%);
	scale: 0.5;
	animation: fly 10s ease-in-out infinite;
	margin-top: -23%;
  }
  
  @keyframes fly {
	0% {
	  left: -100%;
	  transform: rotate(90deg);
	}
	50% {
	  left: 50%;
	  transform: rotate(-30deg);
	}
	60% {
	  left: 50%;
	  transform: rotate(-30deg);
	}
	80%{
		animation-delay: 3.75s;
		animation-play-state: paused;
	}
	83%{
		transform: scale(1);
		animation-delay: 0s;
		animation-play-state: running;
		transform: rotate(-90deg);
	}
	100% {
		left: -100%;
	}
  }
  

/* Estilos responsivos */
@media screen and (max-width: 768px) {
  header nav ul {
    flex-direction: column;
  }

  header nav li {
    margin-right: 0;
    margin-bottom: 10px;
  }
}
/* Estilos para el pie de página */


.footer {
    padding-top: 3rem;
    background: url(img/fondo-pie-pagina.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.footer .caja-contenedor {
    display: flex;
    flex-wrap: wrap;
}

.footer .caja-contenedor .caja {
    flex: 1 1 25rem;
    margin: 2rem;
}

.footer .caja-contenedor .caja h3 {
    font-size: 2rem;
    padding: 1rem 0;
    color: wheat;
    text-decoration: underline;
    text-underline-offset: 1rem;
}

.footer .caja-contenedor .caja p {
    font-size: 1.5rem;
    padding: .5rem 0;
    color: whitesmoke;
}

.footer .caja-contenedor .caja a {
    display: block;
    font-size: 1.5rem;
    padding: .5rem 0;
    color: wheat;
}

.footer .caja-contenedor .caja .a:hover {
    text-decoration: underline;
}

.footer .caja-contenedor .caja .info {
    display: flex;
    align-items: center;
}

.footer .caja-contenedor .caja .info i {
    margin: .5rem 0;
    margin-right: 1rem;
    border-radius: 50%;
    background: whitesmoke;
    color: var(--verde);
    font-size: 1.5rem;
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.5rem;
    text-align: center;
}

.footer .creditos {
    font-size: 1.5rem;
    font-weight: normal;
    letter-spacing: .1rem;
    color: wheat;
    border-top: .1rem solid wheat;
    padding: 2.5rem 1rem;
    text-align: center;
}

/*Galeria 3D*/

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 10%;
  justify-content: space-between;
}

.image-container {
  position: relative;
  width: calc(25%); /* Restamos un tercio del espacio entre imágenes */
  margin-bottom: 10%;
}

.image-container img {
  width: 100%;
  height: auto;
  max-height: 100%;
  object-fit: cover;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.5);
  transition: opacity 0.3s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.overlay h2 {
  color: white;
  font-size: 1.5rem;
}

.image-container:hover img:not(:last-child) { /* Selecciona todas las imágenes que no son la última dentro de su contenedor */
  opacity: 0.5;
}

.image-container:hover .overlay {
  opacity: 1;
}

/*acerca de*/

#imagen_a {
	max-width: 20%;
	max-height: 20%;
	display: block;
	margin: 0 auto;
	padding-bottom: 5%;
}
#imagen_a2 {
	max-width: 20%;
	max-height: 20%;
	display: block;
	margin: 0 auto;
	border-radius: 50%;
	padding-bottom: 5%;
}
#letra_a{
	font-size: 25px;
}
#titulo_a{
	font-size: 46px"
}

/*botones*/
.btn-gradient {
	display: inline-block;
	padding: 12px 24px;
	font-size: 16px;
	color: #fff;
	background: linear-gradient(to right, #f26a4b, #f20089);
	border: none;
	border-radius: 30px;
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
	transition: all 0.3s ease;
	cursor: pointer;
	margin-top: 25px;
	margin-left: 15px;
	margin-right: 15px;
  }
  
  .btn-gradient:hover {
	transform: scale(1.2);
	box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
  }
  .button-container {
	display: flex;
	justify-content: center; /*opcional: para centrar horizontalmente*/
	align-items: center; /*opcional: para centrar verticalmente*/
  }
  

  /*carrusel*/
  .slideshow {
	position: relative;
	width: 35vw;
	height: 35vw;
	margin: auto;
	display: flex;
	align-items: center;
	justify-content: center;
  }

  
  .slideshow img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	transition: opacity 2s ease-in-out;
	border-radius: 35%;
  }
  
  .slideshow img.active {
	opacity: 1;
  }
  